<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="table-fit t3-datatable-panel t3-datatable-module__table" data-t3-datatable-panel>
    <table id="{tableId}"
           class="table table-striped table-hover mb-0"
           data-t3-datatable="{gridIdentifier}"
           data-columns="{columnsJson}"
           data-page-length="{pageLength}">
        <thead>
            <tr>
                <f:for each="{columns}" as="column">
                    <th scope="col">{column.title}</th>
                </f:for>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

</html>
